<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Sign In</title>
    </head>
    <body>
        <section id="layers">
            <form>
                <h2>Measurements in cm</h2>
                
                <label for="height">
                    Height:
                </label>
                <input type="number" name="measurement" id="height">
                <br>
                
                <label for="waist">
                    Waist:
                </label>
                <input type="number" name="measurement" id="waist">
                
                <label for="hip">
                    Hip:
                </label>
                <input type="number" name="measurement" id="hip">
                
                <br>
                
                <label for="chest">
                    Chest:
                </label>
                <input type="number" name="measurement" id="chest">
                
                <label for="shoulders">
                    Shoulders:
                </label>
                <input type="number" name="measurement" id="shoulders">
                
                <br>
                
                <label for="arm">
                    Arm:
                </label>
                <input type="number" name="measurement" id="arm">
                
                <br>
                
                <label for="arml">
                    Arm Length:
                </label>
                <input type="number" name="measurement" id="arml">
            </form>
        </section>
    </body>
</html>


