<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Sign In</title>
    </head>
    <body>
        <section id="layers">
            <form>
             <div class="signIn">
                <h2>Sign In</h2>
                
                <label htmlFor="fName">
                    First Name:
                </label>
                <input type="text" name="firstName" id="fName">
                <br>
                
                <label htmlFor="lName">
                    Last Name:
                </label>
                <input type="text" name="lastName" id="lName">
                
                <label htmlFor="username1">
                    Email:
                </label>
                <input type="text" name="email" id="username1">
                
                <br>
                
                <label htmlFor="pw1">
                    Password:
                </label>
                <input type="password" name="pw" id="pw1">
                
                <label htmlFor="cpw">
                    confirm Password:
                </label>
                <input type="password" name="confirmpw" id="cpw">
             </div>
            
            
             <div class="logIn">
                <h2>Log In</h2>
                <label htmlFor="username2">
                    Email:
                </label>
                <input type="text" name="email" id="username2">
                
                <br>
                
                <label htmlFor="pw2">
                    Password:
                </label>
                <input type="password" name="pw" id="pw2">
             </div>

             <div class="submit">
                <input type="submit" value="Next">
             </div>
                
            </form>
        </section>
    </body>
</html>
